<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {{ socialize:css }}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {{ seo_pro:meta }}
    </head>

    <body class="bg-tile-pattern bg-repeat bg-fixed">
        <!-- Header -->
        {{ if !hide_nav }}
            <header class="py-8 container">
                {{ partial:nav }} 
            </header>
        {{ /if }}
            
        <!-- Main Section -->
        <main class="py-12 container">
            {{ template_content }}
        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-8">
            <div class="container">
                {{ partial:footer }}
            </div>
        </footer>

        {{ popular_script }}
    </body>
</html>
