<!-- Recent Posts Section -->
<div class="container py-12 space-y-8">
    <h2 class="text-2xl font-light text-gray-800 mb-6">Latest Posts</h2>
    {{ collection:writing sort="date:desc" limit="5" as="posts" }}
        {{ posts }}
            {{ partial:_article_card }}
        {{ /posts }}
    {{ /collection:writing }}
</div>

{{ if !nolinks }}
<div class="container mt-12 text-center">
    <a href="/writing" class="inline-block bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 transition duration-300">View All Posts</a>
</div>
{{ /if }}