<div class="container">
    <!-- Hero Section -->
    <section class="py-12">
        {{ partial:hero }}
    </section>

    <hr class="w-full border-t border-gray-300 my-8">

    <!-- Categories Inline Section -->
    <section class="py-12">
        {{ partial:categories_inline }}
    </section>

    <!-- Blog Content Section -->
    <div class="py-12">
        <ul>
            {{ collection:writing sort="date:desc" limit="6" as="posts" }}
                <li>
                    <article class="p-6 bg-white shadow-sm border border-gray-300 mb-8">
                        <h2 class="text-2xl font-light mb-4 text-red-500">
                            <a href="{{ url }}" class="hover:underline">{{ title }}</a>
                        </h2>

                        <div class="text-sm text-gray-500 mb-4 flex items-center space-x-4">
                            <div>
                                <i class="far fa-calendar-alt mr-1"></i>
                                {{ date format="F j, Y" }}
                            </div>

                            <div>
                                <i class="fas fa-folder mr-1"></i>
                                {{ if categories }}
                                    Categories:
                                    {{ categories }}
                                        <a href="{{ url }}" class="text-red-500 hover:underline">{{ title }}</a>
                                    {{ /categories }}
                                {{ /if }}
                            </div>
                        </div>

                        <!-- Content and Continue Reading Link -->
                        <div class="prose prose-lg max-w-none text-gray-700 content">
                            {{ intro }}
                        </div>

                        <p class="text-gray-600 mt-4">
                            <a href="{{ url }}" class="block mt-4 text-left text-red-500 hover:text-red-700 italic">continue reading &raquo;</a>
                        </p>
                    </article>
                </li>
            {{ /collection:writing }}
        </ul>

        <!-- Pagination Links Block -->
        {{ paginate }}
        <div class="flex items-center justify-center space-x-4 mt-8">
            {{ if prev_page }}
            <a href="{{ prev_page }}" class="text-red-500 hover:underline">Previous</a>
            {{ /if }}

            {{ if next_page }}
            <a href="{{ next_page }}" class="text-red-500 hover:underline">Next</a>
            {{ /if }}
        </div>
        {{ /paginate }}
    </div>
</div>